<div class="container mb-5 w-50">
    <div class="row mb-5">
        <div class="col mb-5">
            <form class="form-control row g-3 needs-validation mb-5" [formGroup]="loanPlanForm" (ngSubmit)="onSubmit()">
                <h3><span class="badge text-bg-secondary bg-gradient col-md-6 offset-md-3 mt-4">Add New Loan Plan</span>
                </h3>


                <div class="col-md-8 offset-md-2">
                    <label for="loanType" class="form-label">Loan Type</label>
                    <select class="form-select" id="loanType" formControlName="loanType" name="loanType">
                        <option disabled>Select type of the loan</option>
                        <option *ngFor="let baseInterestRate of baseInterestRatesArray"
                            [value]="baseInterestRate.loanType">{{
                            baseInterestRate.loanType }}</option>

                    </select>
                    <div *ngIf="getControl('loanType').errors && getControl('loanType').touched">
                        <small class="text-danger" *ngIf="getControl('loanType').errors?.['required']">
                            Loan Type is required
                        </small>

                    </div>
                </div>

                <div class="col-md-8 offset-md-2">
                    <label for="loanTypeId" class="form-label">ID of the Loan Type</label>
                    <select class="form-select" id="loanTypeId" formControlName="loanTypeId" name="loanTypeId"
                        aria-label="Default select example">
                        <option disabled>Select ID of above type of loan</option>
                        <option *ngFor="let baseInterestRate of baseInterestRatesArray" [value]="baseInterestRate.id">
                            {{ baseInterestRate.id }}</option>
                    </select>
                    <div *ngIf="getControl('loanTypeId').errors && getControl('loanTypeId').touched">
                        <small class="text-danger" *ngIf="getControl('loanTypeId').errors?.['required']">
                            Loan Typen Id is required
                        </small>

                    </div>
                </div>

                <div class="col-md-8 offset-md-2">
                    <label for="baseInterestRate" class="form-label">Base Interest Rate</label>
                    <select class="form-select" id="baseInterestRate" formControlName="baseInterestRate"
                        name="baseInterestRate">
                        <option disabled>Select Base Interest Rate</option>
                        <option *ngFor="let baseInterestRate of baseInterestRatesArray"
                            [value]="baseInterestRate.baseInterestRate">
                            {{ baseInterestRate.baseInterestRate }}</option>
                    </select>
                    <div *ngIf="getControl('baseInterestRate')?.errors && getControl('baseInterestRate').touched">
                        <small class="text-danger" *ngIf="getControl('baseInterestRate').errors?.['required']">
                            Base Interest Rate of Loan Type is required
                        </small>

                    </div>
                </div>

                <div class="col-md-8 offset-md-2">
                    <label for="planName" class="form-label">Plan Name</label>
                    <input type="text" class="form-control" id="planName" formControlName="planName" name="planName"
                        placeholder="Enter name of the plan" required
                        [ngClass]="{error:getControl('planName').errors && getControl('planName').touched}">
                    <div *ngIf="getControl('planName').errors && getControl('planName').touched">
                        <small class="text-danger" *ngIf="getControl('planName').errors?.['required']">
                            Plan name is required
                        </small>
                        <small class="text-danger" *ngIf="getControl('planName').errors?.['pattern']">
                            Plan Name is invalid, please enter valid Plan Name only using characters
                        </small>

                    </div>
                </div>

                <div class="col-md-8 offset-md-2">
                    <label for="principleAmount" class="form-label">Principle Amount</label>
                    <input type="number" class="form-control" id="principleAmount" formControlName="principleAmount"
                        name="principleAmount" placeholder="Enter principle amount" max="10000000" required
                        [ngClass]="{error:getControl('principleAmount').errors && getControl('principleAmount').touched}">
                    <div *ngIf="getControl('principleAmount').errors && getControl('principleAmount').touched">
                        <small class="text-danger" *ngIf="getControl('principleAmount').errors?.['required']">
                            Principle Amount is required
                        </small>

                    </div>
                </div>

                <div class="col-md-8 offset-md-2">
                    <label for="tenure" class="form-label">Tenure(in months)</label>
                    <input type="range" class="form-range" min="12" max="360" value="12" id="tenure"
                        formControlName="tenure" name="tenure" oninput="tenureOutput.value=tenure.value" required>
                    <output id="tenureOutput"></output>
                    <div *ngIf="getControl('tenure').errors && getControl('tenure').touched">
                        <small class="text-danger" *ngIf="getControl('tenure').errors?.['required']">
                            Tenure is required
                        </small>

                    </div>
                </div>


                <div class="col-md-8 offset-md-2">
                    <label for="planValidity" class="form-label">Plan Validity</label>
                    <input type="date" class="form-control" formControlName="planValidity" id="planValidity"
                        name="planValidity" min="{{currentDate | date:'yyyy-MM-dd'}}">
                    <div *ngIf="getControl('planValidity').errors && getControl('planValidity').touched">
                        <small class="text-danger" *ngIf="getControl('planValidity').errors?.['required']">
                            Plan Validity is required
                        </small>

                    </div>
                </div>


                <div class="d-grid gap-2 col-2 mx-auto">
                    <button class="btn btn-success my-4" type="submit" [disabled]="loanPlanForm.invalid">Submit</button>
                </div>
                <div *ngIf="showSuccessMessage" class="successMessage">
                    Data has been submitted successfully!
                </div>
            </form>
        </div>
    </div>
</div>